@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@keyframes colorCycle {
    0% { background-color: #833333; }
    33% { background-color: #338333; }
    67% { background-color: #333383; }
    100% { background-color: #833333; }
}

body {
    overflow: hidden;
    align-content: center;
    height: 100vh;
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    @apply font-[family-name:var(--font-geist-sans)]
}

.nice-button {
    @apply rounded-full border transition-colors h-10 sm:h-12 px-4 sm:px-5
}

.color-norm {
    @apply bg-foreground text-background hover:bg-[#383838] dark:hover:bg-[#ccc]
}

.color-unauth {
    background-color:  #1ED760;
    @apply border-black text-background hover:bg-[#19310a] dark:hover:bg-[#82f7ab]
}

.color-auth {
    background-color:  #666666;
    @apply border-black text-background hover:bg-[#19310a] dark:hover:bg-[#82f7ab]
}

.color-invert {
    @apply  bg-background text-foreground hover:bg-[#f2f2f2] dark:hover:bg-[#1a1a1a] 
}
